### Faker: 데이터 생성 라이브러리

In [1]:
!pip install Faker

Requirement already satisfied: Faker in c:\users\playdata\anaconda3\envs\ml_env\lib\site-packages (37.8.0)
Requirement already satisfied: tzdata in c:\users\playdata\anaconda3\envs\ml_env\lib\site-packages (from Faker) (2025.2)

In [4]:
from faker import Faker

faker = Faker()

print(faker.name())
print(faker.first_name() + " " + faker.last_name())
print(faker.email())
print(faker.company())
print(faker.date_of_birth(minimum_age=19, maximum_age=90))

Wendy Gutierrez
Heather Barker
matthew64@example.com
Walters Inc
1989-08-07

In [8]:
import pandas as pd
import random

fake = Faker()
data =[]
def generate_customer_data(n=100):
    for _ in range(n):
        age = fake.random_int(min=19, max= 90)
        sub_months = fake.random_int(min=1, max=120)
        monthly_payment = round(random.uniform(10, 100), 2) # 소수점 2번째 자리까지 round
        usage_frequency = fake.random_int(min=1, max=30)
        satisfaction_score = fake.random_int(min=0, max=5)
        churn = fake.boolean(chance_of_getting_true=30)
        
        data.append([age, sub_months, monthly_payment, usage_frequency, satisfaction_score, churn])
    
    columns = ['AGE', 'SUB_MONTHS', 'MONTHLY_PAYMENT', 'USAGE_FEQ', 'SATISFACTION', 'CHURN']

    return pd.DataFrame(data, columns=columns)

In [9]:
customer_df = generate_customer_data(200000)
customer_df

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  SATISFACTION  CHURN
0        49         105            65.15         25             0  False
1        28          12            55.17         22             0   True
2        33          73            68.65         21             2   True
3        89          89            84.26         23             4   True
4        90          17            70.09          5             3  False
...     ...         ...              ...        ...           ...    ...
199995   33          64            61.61          8             1  False
199996   83          46            33.59         28             4  False
199997   77           9            43.95          4             1  False
199998   47         111            45.14         18             5   True
199999   56          97            69.80         22             0   True

[200000 rows x 6 columns]

In [ ]:
customer_df.to_csv('fake_customer_data.csv', index=False)