### 튜플

In [1]:
anything = (2025, 'hello', ['my', 'name', 'is'], True)

In [3]:
print(anything[0])

2025

In [4]:
anything[0] = 2024

TypeError: 'tuple' object does not support item assignment

In [6]:
anything = (2024, 'hello', ['my', 'name', 'is'], True)
print(anything)

(2024, 'hello', ['my', 'name', 'is'], True)

---
### 튜플의 연산

In [7]:
number = (2025, 8, 20)
anything = (2025, 'hello', ['my', 'name', 'is'], True)

In [8]:
print(number + anything)

(2025, 8, 20, 2025, 'hello', ['my', 'name', 'is'], True)

In [9]:
print(number * 2)

(2025, 8, 20, 2025, 8, 20)

In [11]:
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시', ['광주광역시', '부산광역시']]
print('광주광역시' in location)                   # True
print(['광주광역시', '부산광역시'] in location)    # False
print('서울특별시', '부산광역시' in location)    # False

True
True
서울특별시 True